@import url(reset.css);

body {
  background: #e5e5e5;
  overflow: hidden;
}
.circle_container1 {
  display: flex;
  justify-content: end;
}
.circle1 {
  width: 475px;
  height: 475px;
  position: absolute;
  right: -150px;
  top: -120px;
  border-radius: 50%;
  background-color: #83bd75;
}
.circle_container2 {
  display: flex;
  justify-content: start;
}
.circle2 {
  width: 820px;
  height: 820px;
  position: absolute;
  left: -260px;
  bottom: -200px;
  border-radius: 50%;
  border: 76px solid #6cbe48;
  opacity: 50%;
  z-index: -1;
}
.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 96px;
  font-weight: 900;
  text-align: center;
  word-break: normal;
  z-index: 1;
  position: absolute;
  top: 35%;
  line-height: 1.1;
}

.office_container {
  display: flex;
  justify-content: center;
  column-gap: 70px;
  position: absolute;
  bottom: 15%;
}

.office {
  width: 345px;
  height: 165px;
  background-color: #d9d9d9;
  border-radius: 20px;
  position: relative;
}

.office_circle {
  width: 35px;
  height: 35px;
  background-color: #83bd75;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 15px;
}

.office_content {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-top: 23px;
}

.office_title_container {
  display: flex;
  z-index: 1;
}

.office_title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 2px;
}

.office_phone {
  font-size: 20px;
  margin-top: 17px;
}

.office_address {
  font-size: 20px;
  margin-top: 6px;
  line-height: 1.2;
}

.contect_title {
  font-size: 35px;
  margin-top: 60px;
}

.contect_container {
  display: flex;
  gap: 50px;
  position: absolute;
  bottom: 3%;
}

.contect_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #d9d9d9;
  border-radius: 50%;
  transform: translateY(0);
  transition: all ease-in-out 0.1s;
}

.contect_button:hover {
  transform: translateY(-3px);
}

@media only screen and (max-width: 800px) {
  .circle1 {
    width: 200px;
    height: 200px;
    right: -50px;
    top: -70px;
  }
  .circle2 {
    width: 500px;
    height: 500px;
    left: -370px;
    bottom: -140px;
  }
  .title {
    top: 10%;
    font-size: 40px;
  }
  .office_container {
    flex-wrap: wrap;
    row-gap: 30px;
    bottom: 15%;
  }
  .office_circle {
    top: 9px;
  }
  .office_content {
    margin-left: 30px;
    margin-top: 17px;
  }
  .bi-chevron-right {
    width: 20px;
    height: 20px;
  }
  .office {
    width: 300px;
    height: 120px;
  }
  .office_circle {
    width: 25px;
    height: 25px;
  }
  .office_title {
    font-size: 20px;
  }
  .office_phone {
    font-size: 15px;
    margin-top: 10px;
  }
  .office_address {
    font-size: 15px;
    margin-top: 4px;
  }
}

@media only screen and (max-height: 719px) {
  .title {
    top: 5%;
    font-size: 30px;
  }
}
